<% include partials/_header %>
  <link href="/stylesheets/dashboardstyle.css" rel="stylesheet" >

  <!--sección de panel de rutinas y playlists-->
  <% include partials/_side-panel %>

  <!--sección de contenido-->
  <section class="row">
    <div id='contenido'></div>
  </section>

  <!--scripts-->
  <script type="text/javascript" src="/javascripts/showContentBoxes.js"></script>
<% include partials/_footer %>
