<% include partials/_header %>
  <link href="/stylesheets/dashboardstyle.css" rel="stylesheet" >

  <!--sección de panel de rutinas y playlists-->
  <% include partials/_side-panel %>

  <!--sección de contenido-->
  <section class="row">
    <h2>esto es el panel</h2>
    <div id='contenido'></div>
  </section>

<% include partials/_footer %>