<% include partials/_header %>
<title>Dashboard</title>

    <section class="header">
        <div>
            <h1>Soy Dash</h1>
            <p>Welcome to Home</p>
        </div>
    </section>
    
<!--    
    <aside>
        <section>
          <nav>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="dashboard">Dashboard</a>
              </li>
            </ul>
          </nav>
        </section>
      </aside>
-->
<% include partials/_footer %>