<% include partials/_header %>
  
<title>Home</title>

<!--section boxels-->

<section class="row">
  <div class="card">
    <img src="/images/img_avatar.png" alt="Content">
    <div class="footer">
      <h4><b>name</b></h4>
      <p>asdf</p>
    </div>
  </div>
  <div class="card">
    <img src="/images/img_avatar.png" alt="Content">
    <div class="footer">
      <h4><b>name</b></h4>
      <p>asdf</p>
    </div>
  </div>
  <div class="card">
    <img src="/images/img_avatar.png" alt="Content">
    <div class="footer">
      <h4><b>name</b></h4>
      <p>asdf</p>
    </div>
  </div>
  <div class="card">
    <img src="/images/img_avatar.png" alt="Content">
    <div class="footer">
      <h4><b>name</b></h4>
      <p>asdf</p>
    </div>
  </div>
  <div class="card">
    <img src="/images/img_avatar.png" alt="Content">
    <div class="footer">
      <h4><b>name</b></h4>
      <p>asdf</p>
    </div>
  </div>
  <div class="card">
    <img src="/images/img_avatar.png" alt="Content">
    <div class="footer">
      <h4><b>name</b></h4>
      <p>asdf</p>
    </div>
  </div>
  <div class="card">
    <img src="/images/img_avatar.png" alt="Content">
    <div class="footer">
      <h4><b>name</b></h4>
      <p>asdf</p>
    </div>
  </div>
</section>

<% include partials/_footer %>
