<% include partials/_header %>
  <title>Home</title>
  
    <section class="header">
      <div>
        <h1>Esto es Home</h1>
        <p>Welcome to Home</p>
      </div>
    </section>
    

<% include partials/_footer %>