<% include partials/_header %>
  <title>Home</title>

    <section class="header">
      <div>
        <h1>Esto es Home</h1>
        <p>Welcome to Home</p>
      </div>
    </section>

    <!--section boxels-->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <<!--boxels-->
        <div class="col">
          <div class="card shadow-sm">
            <!--image-->
            <div class="d-placeholder-img card-img-top">
              <iframe width="100%" height="225" src="https://www.youtube.com/embed/5qap5aO4i9A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
            </div>
            <!--footer-->
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" action="">+</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
    </div>


<% include partials/_footer %>
