<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="#">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Roboto:wght@900&family=Staatliches&display=swap" rel="stylesheet"> 
  </head>



  <body>
    <section class="header">
      <div><h1>Esto es Home</h1></div>
      <div><p>Welcome to Home</p></div>
    </section>
    <aside>
      <section>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="dashboard">Dashboard</a>
            </li>
          </ul>
        </nav>
      </section>
    </aside>

  </body>
</html>
