<% include partials/_header %>
    <title>Lists</title>

    <section class="header">
        <div>
            <h1>My lists</h1>
            <p>Welcome to Lists</p>
        </div>
    </section>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">

        </div>

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/api/lists/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="Firs_Name" placeholder="input your firstname" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Last_Name" placeholder="input your lastname" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Adress" placeholder="input your adress" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Password" placeholder="input your password (optional)" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Height" placeholder="input your height" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Weight" placeholder="input your weight" class="form-control">
                        </div>
                        <button type="submit" class="btn btn primary">
                            SAVE
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer %>
