<div class="card">
    <img src="https://media-exp1.licdn.com/dms/image/C560BAQEFsdzq5-oHeQ/company-logo_200_200/0/1559760197164?e=2159024400&v=beta&t=Joejkcr7SF9Co4mLu_xqWilu5u6mAZFH93Op1pRxeN4" alt="Content">
    <div class="card-footer">
        <h4><b>name</b></h4>
        <p>asdf</p>
    </div>
</div>