<!--content-->

    </div>
    <script>
        if(document.URL=='http://localhost:3000/fire-up/'){
        document.title='Home'
        }
        if(document.URL=='http://localhost:3000/fire-up/dashboard'){
        document.title='Dashboard'
        }
        if(document.URL=='http://localhost:3000/fire-up/users'){
        document.title='Users'
        }
        if(document.URL=='http://localhost:3000/fire-up/register'){
        document.title='Register'
        }
    </script>
    

</body>
</html>