<!--content-->

    </div>
    <script>
        if(document.URL=='http://localhost:3000/api/'){
        document.title='Home'
        }
        if(document.URL=='http://localhost:3000/api/dashboard'){
        document.title='Dashboard'
        }
        if(document.URL=='http://localhost:3000/api/lists'){
        document.title='Users'
        }
        if(document.URL=='http://localhost:3000/api/register'){
        document.title='Register'
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>