<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Title-->
    <link rel="shortcut icon" href="#" /> <!--fix favicon error-->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" >
    Feature-Policy: <directive> <allowlist>
</head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/api/" class="navbar-brand">FIRE-UP</a>
            <ul>
                <li>
                  <a href="/api/">Home</a>
                </li>
                <li>
                  <a href="/api/dashboard">Dashboard</a>
                </li>
                <li>
                  <a href="/api/lists">My lists</a>
                </li>
              </ul>
        </nav>
