<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Title-->
    <link rel="shortcut icon" href="#" /> <!--fix favicon error-->
    <link href="/stylesheets/style.css" rel="stylesheet" >
    <!--<link href="/stylesheets/bootstrap.css" rel="stylesheet" > -->

</head>
    <body>
        <nav>
            <ul class="navbar">
              <a href="/api/" class="logo">FIRE-UP</a>
              <li class="">
                <a href="/api/lists">My lists</a>
              </li>
              <li>
                <a href="/api/dashboard">Dashboard</a>
              </li>
              <li>
                <a href="/api/">Home</a>
              </li>
            </ul>
        </nav>
