<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Title-->
    <link rel="shortcut icon" href="#" /> <!--fix favicon error-->
    <link href="/stylesheets/defaultstyle.css" rel="stylesheet" >

</head>
    <body>
        <nav class="top-bar">
            <ul class="top-navbar">
              <a href="/api/" class="logo">FIRE-UP</a>
              <li class="top-bar-item">
                <a href="/api/users/register">Register</a>
              </li>
              <li class="top-bar-item">
                <a href="/api/dashboard">Dashboard</a>
              </li>
              <li class="top-bar-item">
                <a href="/api/">Home</a>
              </li>
            </ul>
        </nav>
        <div class="page-content">

          <!--content-->