<section class="side-panel">
    <nav class="user-rutines">
        <table id="table" style="width: 100%;">
          <tr>
            <th id="Master-rutines-button">Rutinas</th>
          </tr>
        </table>
        <div id="add-item"><img id='add-item-image' src="/images/plus-circle-solid.svg" alt="images"></div>
    </nav>
</section>