<section class="side-panel">
    <nav>
      <div class="left-panel-title">
        <h4>esto es un navbar</h4>
      </div>
      <div class="left-panel-container">
        <ul class="lists">
          <li><a href="">item</a></li>
          <li><a href="">item</a></li>
          <li><a href="">item</a></li>
          <li><a href="">item</a></li>
          <li><a href="">item</a></li>
          <li><a href="">item</a></li>
          <li><a href="">item</a></li>
        </ul>
      </div>
      
    </nav>
  </section>